In [1]:
import pandas as pd
Location = "algebradata.csv"
df = pd.read_csv(Location)

In [2]:
df.head()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

In [3]:
len(df)

999

In [17]:
grades = df.groupby('Grade').count()

In [7]:
grades

       Fname  Lname  Gender  Hours of Study
Grade
A        296    296     296             296
B        198    198     198             198
C        197    197     197             197
D        225    225     225             225
F         83     83      83              83

In [25]:
# percentage y of students with passing grade
y = 1 - 83.0/999
y

0.9169169169169169

In [26]:
# percentage x of women with a passing grade
women = df[df['Gender'] == 'F']

women

women_passed = women[women['Grade']!='F']
women_passed.count()

x = 494.0 / 999
x

0.4944944944944945

In [27]:
df['Hours of Study'].describe()

count    999.000000
mean      15.115115
std        8.991187
min        0.000000
25%        7.000000
50%       15.000000
75%       23.000000
max       30.000000
Name: Hours of Study, dtype: float64

In [28]:
mean_number_of_study_all = 15.12

In [30]:
passed = df[df['Grade'] != 'F']
passed['Hours of Study'].describe()

count    916.000000
mean      15.875546
std        8.886031
min        0.000000
25%        9.000000
50%       16.000000
75%       23.000000
max       30.000000
Name: Hours of Study, dtype: float64

In [ ]:
# average hours of study w for students with a passing grade
w = 15.88